body{
    height: 75vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: top;
    background: rgb(0, 0, 0);
    overflow: hidden;
}

@media screen and (orientation=portrait) {
 
    ul{
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 100%;
        
    }
    .informacjepc{
        display: none;
    }
    div.onas{
        display: none;
    }
    
    body{
        height: 100vh;
        width: 100vw;
        margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        vertical-align: top;
        background: rgb(0, 0, 0);
    }
    main{
        height: 90%;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .navmenu{
        height: 10%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: left;
        align-items: center;
        
    }
  
    iframe{
        width: 130px;
        height: 130px;
    }
    div.kontakt{
        margin-top: 80px;
        padding-right: 20px;
    }
    div.mapa{
        margin-right: 30px;
        margin-top: 80px;
    }
    div.tel{
        background-color: black;
        color: white;
        text-indent: 6px;
        border-style: solid;
        border-color: white;
        margin-bottom: 10px;
    }
    div.email{
        background-color: black;
        color: white;
        text-indent: 4px;
        border-style: solid;
        border-color: white;
    }
    .limenu a {
        color: white;
        text-decoration: none;
        font-size: 23px;
       
        margin-right: 100px;
        
    }
    .limenu a:hover{
       text-shadow: 0px 0px 1px white; 
    }
    .lilogo img{
        height: 50px;
        width: 75px;
        margin-right: 90px;
     
 }
 #sideNav{
     width: 250px;
     height: 100vh;
     position: fixed;
     right: -250px;
     top: 0;
     background: black;
     z-index: 2; 
     transition: 0.5s;
 
 }#menuBtn{
     width: 50px;
     height: 30px;
     background: #000000;
     text-align: center;
     position: fixed;
     right: 30px;
     top: 20px;
     border-radius: 3px;
     z-index: 3;
     cursor: pointer;
 }
 img#menu{
     width: 50px;
     height: 50px;
 }
}


@media screen and (orientation=landscape) { 
    #sideNav{
        height: 0px;
        margin-bottom: 100px;
        }
    #menuBtn{
     display: none;
    }
    #onas{
        display: none;
    }
   
    ul{
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        width: 100%;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        font-style: normal;
      }
     
    main{
        height: 90%;
        width: 100%;  
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .navmenu{
        height: 10%;
        width: 100%;
        background-color: rgb(0, 0, 0);
        display: flex;
        justify-content: space-between;
        align-items: center;

    }
    .limenu a {
        color: white;
        text-decoration: none;
        font-size: 23px;
        margin-right: 80px;
    }
    .limenu a:hover{
       text-shadow: 0px 0px 1px white; 
    }
    .lilogo img{
    height: 70px;
    width: 100px;
    margin-left: 12px;
    }
    div.kontakt{
        padding-right: 20px;
    }
    div.mapa{
        margin-right: 30px;
    }
    div.tel{
        background-color: black;
        color: white;
        text-indent: 6px;
        border-style: solid;
        border-color: white;
        margin-bottom: 10px;
    }
    div.email{
        background-color: black;
        color: white;
        text-indent: 4px;
        border-style: solid;
        border-color: white;
    }
   
}